h5 {
    text-align: center;
    margin: 5px;
}

.ches {
    margin-top: 20px;
    width: 100%;
}

.product {
    margin-top: 20px;
    width: 100%;
}



.product tr td {
    text-align: center;
}

.product {
    border: 1px solid black;
    border-collapse: collapse;
}

.product td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.total {
    margin-left: 400px;
}

.signature {
    margin-top: 40px;
    margin-left: 50px;
    width: 100%;
    font-size: 10px;
}