.bar {
    display: flex;
    align-items: center;
    background-color: #12192C;
    height: 80px;
    margin-bottom: 30px;
}

.container {
    max-width: 95%;
}

.top .top_container {
    height: 110px;
    width: 20%;
    border: 1px solid red;
    border-radius: 15px;
}

.dashbord_content {
    margin-top: 15px;
    margin-left: 15px;
}



.top {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.right {
    display: flex;
}

.nav .nav-item:first-child a {
    padding-left: 0;
}

.charts {
    margin-top: 20px;
    width: 100%;
    height: 400px;
}

.schart {
    margin-top: 70px;
    width: 100%;
    height: 400px;
}

.schart .category {
    width: auto;
}

.endingInventory {
    display: flex;
}

.yearpicker {
    width: 100px;
    text-align: center;
}

.order_and_total {
    display: flex;
}

.total_purchased {
    font-size: 18px;
    margin-left: 78%;
}